<h2> Olá {{ name }} </h2>
<p>
  Parece que você solicitou uma recuperação da sua senha. Caso queira processguir clique no link abaixo:
</p>
</p>
  <a href="{{ resetPassUrl }}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solitação, por favor descartar o e-mail.
</p>
<p>
   <strong>Equipe MyTrips</strong>
</p>
